body {
    background-color: #1c1c1c;
    margin: 0;
}

#previews {
    list-style-type: none;
    margin: 0;
    padding: 0;
    transform: perspective(500px) rotateX(var(--rotateX)) rotateY(var(--rotateY));
}

#previews > a {
    display: block;
    position: absolute;
    transform: scale(var(--scale));
    transform-origin: 0 0;
}

iframe {
    background-color: #fff;
    border: none;
    pointer-events: none;
}
